# FreshBooks OAuth2 credentials
# Get these from: https://my.freshbooks.com/#/developer
FRESHBOOKS_CLIENT_ID=your_client_id
FRESHBOOKS_CLIENT_SECRET=your_client_secret
FRESHBOOKS_REDIRECT_URI=http://localhost:8555/callback
